h1 {
	color: #663300;
	font-family: 'Amatic SC';
	font-size: 100px;
	text-align: center;
	} 

body{
  background-color: #e6ccb3;
	color: #994d00;
}
 .wrapper{
            margin: 0 auto;
        }
        table tr td:last-child{
            width: 120px;
        }
.table1{
 border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
	color: black;
	border-collapse: collapse;
  width: 100%;
}
       #btn {
        background-color: #e6ccb3;
        color:#663300;
        border: none;
        border-radius: 10%;
}

#back{
    text-decoration: none;
    color:#663300;
}